.cardContainer {
  perspective: 1200px;
}

.cardInner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
}

.cardFlipped {
  transform: rotateY(180deg);
}

.cardFace {
  backface-visibility: hidden;
}

.cardBack {
  transform: rotateY(180deg);
}
